html {
  scroll-behavior: smooth;
}

body {
  text-align:center;
}

#product {
  display: inline-block;
  border-style: solid;
  border-color: grey;
  border-width: 2px;
  padding: 50px;
  margin: 10px;
}

.form{
  border-style: double;
  border-color: grey;
  margin: 100px;
}

button {
border-radius: 10px;
background-color: lightblue;
margin: 10px;
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}